<div class="ui vertical segment">
    <h2 class="icon header"><i class="add icon"></i> 添加新任务</h2>
    <form class="ui form" enctype="multipart/form-data" method="post" action="/admin/task" id="admin_task_form">
        <div class="ui icon teal error message">
            <i class="help icon"></i>
            <div class="content" id="err_content">
            </div>
        </div>
        <div class="required field"><label>任务名称</label>
            <input type="text" name="task_name" placeholder="Task Name"></div>
        <div class="required field">
            <label>任务描述</label>
            <textarea name="task_desc" placeholder="Description"></textarea>
        </div>
        <div class="field"><label>任务文件 (建议打包为 .zip 格式上传)</label>
            <input type="file" name="file"/></div>
        <div class="inline fields">
            <label>起止时间(yyyy/mm/dd/hh/mm/ss)</label>
            <div class="field"><input name="tsstart" placeholder="开始时间" value="<%= startTime %>"/></div>
            <div class="field"><input name="tsend" placeholder="结束时间(默认7天后)" value="<%= endTime %>"/></div>
            <div class="field">
                <button class="ui right floated purple basic submit button" type="submit">提交</button>
            </div>
        </div>
    </form>
</div>
<div class="ui vertical segment">
    <h2 class="icon header"><i class="setting icon"></i> 管理现有任务</h2>
    <table class="ui very basic celled center aligned loading table" id="task_table">
        <thead>
        <tr>
            <th>ID</th>
            <th>任务</th>
            <th>附件</th>
            <th>时限</th>
            <th>下载 / 接受 / 提交 / 审核</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
  init_admin_task_form()
  reload_task_table()
</script>
