<div class="ui vertical segment">
    <h2 class="icon header"><i class="setting icon"></i>管理用户</h2>
    <table class="ui very basic celled center aligned selectable table" id="user_table">
        <thead>
        <tr>
            <th>序号</th>
            <th>昵称</th>
            <th>学号</th>
            <th>真实姓名</th>
            <th>接受 / 提交 / 待审 / 放弃</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<script>
  reload_user_table()
</script>
