<div class="ui vertical segment">
    <h2 class="icon header"><i class="idea outline icon"></i>最新任务</h2>
    <%- include('task_table_tamplate') %>
</div>
<div class="ui vertical segment">
    <h2 class="icon header"><i class="bullhorn icon"></i>近期动态</h2>
    <%- include('feed_template') %>
</div>
